.personal-wrap {
  background: #ede7f6;
  padding: 50px 0 40px 0;
}

.personal-wrap > .content-wrap {
  margin-top: 50px;
}

.personal-wrap .title-wrap .title{
  text-align: center;
  color: #3a28b4;
  font-size: 24px;
  font-weight: bold;
}

.personal-wrap .btn-wrap {
  text-align: center;
}

.btn.clear.purple{
  background: transparent;
  color: #472793;
  border: 1px solid #472793;
}

.personal-wrap .card-list {
  display: flex;
  justify-content: center;
}

.personal-wrap .btn-wrap {
  margin: 50px 0 40px 0;
}
