.intro-wrap {
  background-image: linear-gradient(to bottom, #45279f, #9071c7);
  color: #fff;
  padding: 90px 0 150px 0;
}

.intro-wrap .title-wrap{
  display: flex;
  flex-direction: column;
}

.intro-wrap .brand-wrap {
  margin: 0 auto 30px auto;
}
.intro-wrap .brand-wrap * {
  display: inline-block;
}
.intro-wrap .brand-wrap .brand-logo {
  width: 50px;
}

.intro-wrap .brand-wrap .brand-text {
  font-size: 48px;
  font-weight: 300;
  vertical-align: middle;
}

.title-wrap .title {
  text-align: center;
  width: 200px;
  margin: auto;
  font-size: 24px;
  font-weight: 400;
}

.intro-wrap .content-wrap {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.content-wrap .content {
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
}

.content-wrap .btn-wrap {
  margin-top: 20px;
}
.btn {
  width: 200px;
  margin: auto;
}

.btn.clear{
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}
