/* .card-wrap {
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0, 0.5);
  width: 20%;
  height: 350px;
  margin: 15px;
  min-width: 250px;
} */

.card-wrap {
  padding: 20px;
}

.card {
  padding: 30px 10px 84px 10px;
  background: #fff;
  border-bottom: 5px solid #472793 !important;
  height: 100%;
  position: relative;
  text-align: center;
}

.card-wrap .card-img-wrap {
  text-align: center;
  /* padding: 20px 0; */
  position: absolute;
  left: calc(50% - 32px);
  bottom: 25px;
}

.card-wrap .card-img {
  width: 64px;
  height: 64px;
}

.card-wrap .content-wrap .title{
  font-size: 18px;
  font-weight: bold;
}

.card-wrap .content-wrap .content {
  font-size: 16px;
  font-weight: 400;
  padding: 20px;
}
