.company-wrap {
  background: #f8f8f8;
  color: #3a28b4;
  padding: 90px 0 50px 45px;
}

.company-wrap .title-wrap .title {
  width: 100%;
  text-align: left;
  font-size: 20px;
}

.company-wrap .content-wrap {
  margin: 50px 0 25px 0;
}

.company-wrap .content-wrap .item-list {
  list-style: none;
  padding: 0;
}

.company-wrap .content-wrap .item::before {
  content: "•";
  color: #979797;
  margin-right: 10px
}

.company-wrap .content-wrap .title {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}

.company-wrap .content-wrap .content {
  font-size: 16px;
  padding-left: 15px;
  margin: 5px 0 20px 0;
  display: inline-block;
}

.company-wrap .btn-wrap {
  margin-top: 25px;
}

.company-wrap .btn-wrap .btn.purple {
  color: #fff;
  background: #4527a0;
}
