nav {
  box-shadow: 1px 1px 0 0 #979797;
  /* height: 40px; */
}

nav .brand-img {
  width: 25px;
  height: 20px;
  margin: 10px 15px 10px 0;
}

nav .brand-text {
  line-height: 40px;
  vertical-align: middle;
}

.bg-purple {
  background: #4527a0;
  color: #fff;
}

nav > .dropdown > a {
  width: 120px;
}

nav > .dropdown > a:hover {
  color: #fff;
}

nav > .dropdown > .dropdown-menu {
  width: 120px;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25) !important;
}

.btn-clear {
  background: transparent;
  color: #fff;
}
