nav {
  box-shadow: 1px 1px 0 0 #979797;
  /* height: 40px; */
}

nav .brand-img {
  width: 150px;
}

.navbar.bg-purple .navbar-brand {
  margin: 0;
}


.bg-purple {
  background: #4527a0;
  color: #fff;
}

nav > .dropdown > a {
  width: 120px;
}

nav > .dropdown > a:hover {
  color: #fff;
}

nav > .dropdown > .dropdown-menu {
  width: 120px;
}

.right {
  position: absolute;
  right: 10px;
}

.flag {
  width: 20px;
  margin-right: 10px;
}

.btn.focus, .btn:focus {
  box-shadow: 0 0 0 0.2rem rgba(255,255,255,.25) !important;
}

.btn-clear {
  background: transparent;
  color: #fff;
}
