.modal {
  top: calc(50% - 210px) !important;
}

.modal-header {
  margin: 0 15px !important;
  border-bottom: 1px solid #311b92 !important;
}

.modal-header .title{
  font-size: 20px;
  color: #311b92;
}

.purple {
  color: #fff;
  background: #4527a0;
}

.modal-body .content {
  font-size: 14px;
  color: #311b92;
  padding: 10px 0px;
}

.modal-body .row:first-child {
  padding: 0 0 10px 0;
}

.modal-body .row {
  padding: 10px 0;
}

.modal-body .btn.clear{
  border: 1px solid #311b92;
  color: #311b92;
}

.modal-footer {
  border-top: none !important;
  justify-content: center !important;
}
