.modal {
  top: calc(50% - 200px) !important;
}

.modal-header {
  padding: 0.3rem !important;
}

.purple {
  color: #fff;
  background: #4527a0;
}


.modal-body label.input {
  width: 100%;
}

.modal-body label.input .label {
  color: #BDBDBD;
  margin-bottom: 5px;
  display: inline-block;
}
